@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
@foreach (var customer in ViewBag.Customers)
{
    <tr>
        <td>@customer.CustomerID</td>
        <td>@customer.CustomerName</td>
    </tr>
}
